@font-face {
  font-family: '1980';
  font-style: normal;
  font-weight: 1000;
  src: url('./1980XX.ttf');
}

.game {
  font-family: '1980';
  color: white;
  width: auto;
  height: 1080px;
  background: hsl(0, 1%, 23%);
  overflow-x: hidden;
  overflow-y: hidden;
}

.game > img {
  position: relative;
  top: 550px;
  transform: scale(9);
  image-rendering: pixelated;
}

#difficulty-screen {
  position: absolute;
  top: 300px;
  left: 32.7%;
}

.difficulty-choice {
  font-size: 50px;
  text-align: left;
  margin-left: 280px;
  margin-top: -30px;
}

.level > img {
  position: absolute;
  left: 856px;
  top: 69px;
  transform: scale(2.25);
  image-rendering: pixelated;
}

.player {
  position: absolute;
  height: 24px;
  width: 17px;
  image-rendering: pixelated;
}

.game-items {
  transform: scale(4);
}

#score {
  position: absolute;
  font-size: 25px !important;
  top: -37px;
  left: 755px;
}

#player-health-bar {
  position: absolute;
  background-color: red;
  height: 5px;
  margin-top: -10px;
  left: 56%;
}

#player-health {
  position: absolute;
  top: -3px;
  left: -11px;
  height: 11px;
  image-rendering: pixelated;
}

#current-gun {
  position: absolute;
  height: 70px;
  width: 110px;
  border: 2px solid hsla(105, 63%, 40%, 0.86);
  border-radius: 2px;
  background-color: black;
  top: -57px;
  left: 985px;
  padding-top: 15px;
  padding-left: 10px;
  transform: scale(0.25);
  image-rendering: pixelated;
}

#current-gun-type {
  margin-top: -5px;
  margin-left: -4px;
  font-size: 33px;
}

#ammo-count {
  margin-top: -30px;
  margin-left: -4px;
  font-size: 22px;
}

.gun-pickup {
  position: absolute;
  transform: scale(0.3);
  image-rendering: pixelated;
}

.bullets {
  font-family: sans-serif;
  margin-top: -10px;
  margin-left: 6.5px;
}

.bullet {
  position: absolute;
}

.enemy {
  position: absolute;
  image-rendering: pixelated;
}

.health-bar {
  position: absolute;
  background-color: red;
  height: 2px;
  top: -4px;
}

#score-card {
  position: absolute;
  top: 250px;
  left: 34.4%;
  width: 600px;
  height: 670px;
  background-color: hsla(195, 82%, 55%, 1);
  border-radius: 10px;
}

#win-screen > h1 {
  font-size: 150px;
}

#score-card > h1 {
  font-size: 90px;
}

#score-card > h3 {
  margin-top: -60px;
  font-size: 70px;
}

#score-card > h4 {
  text-align: left;
  margin-left: 40px;
  margin-top: -60px;
  font-size: 70px;
}

#score-card > p {
  font-size: 50px;
}
