.game {
  color: white;
  width: auto;
  height: 1080px;
  background: hsl(0, 1%, 23%);
  overflow-x: hidden;
  overflow-y: hidden;
}

.game > img {
  position: relative;
  top: 550px;
  transform: scale(9);
  image-rendering: pixelated;
}

.level {
  transform: scale(4);
}

.player {
  position: absolute;
  height: 24px;
  width: 17px;
  image-rendering: pixelated;
}

#score {
  position: absolute;
  margin-left: -14em;
  margin-top: -20px;
}

#player-health {
  position: absolute;
  background-color: red;
  height: 5px;
  margin-left: -13em;
  margin-top: 232px;
}

.bullets {
  margin-top: -10px;
  margin-left: 6.5px;
}

.bullet {
  position: absolute;
}

.enemy {
  position: absolute;
  image-rendering: pixelated;
  /* background-color: red; */
}

.health-bar {
  position: absolute;
  background-color: red;
  height: 2px;
  top: -4px;
}
