.game {
  width: auto;
  height: 1080px;
  background: hsl(216, 45%, 77%);
  overflow-x: hidden;
}

.game > img {
  position: relative;
  top: 500px;
  transform: scale(7);
  image-rendering: pixelated;
}

.level {
  transform: scale(4);
}

.player {
  position: absolute;
  height: 24px;
  width: 17px;
  image-rendering: pixelated;
}

#player-health {
  position: absolute;
  margin-left: -14px;
  margin-top: -10px;
}

.bullets {
  margin-top: -10px;
  margin-left: 6.5px;
}

.bullet {
  height: 2px;
  width: 2px;
  margin-bottom: 15px;
}

.enemy {
  position: absolute;
  background-color: red;
}
